// Обнуление ========================================
@import "reset";

// Шрифты ============================================
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700&display=swap);

body {
	font-family: "Dancing Script";
}

.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	img {
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
	}
}
.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}


.fullscreen {
	flex: 1 1 auto;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.06);
	}

	&__video {
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__body {
		width: 300px;
		height: 200px;
		background-color: rgba(237,123,63, .9);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		border-radius: 30px;
		animation: shadow 4.2s infinite linear;
		position: relative;
		z-index: 50;
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;	
	}

	&__title {
		font-size: 30px;
		font-weight: 700;
		letter-spacing: 5px;
		margin: 0px 0px 20px 0px;
		color: rgba(255, 255, 255, 0.9);
	}

	&__name {
		font-family: "Helvetica Neue";
		letter-spacing: .5px;
		margin: 0px 0px 20px 0px;
		font-size: 13px;
		padding: 5px 25px 5px 10px;
		outline: none;
		outline: none;
		border: none;
		border-radius: 5px;
		background: rgb(255, 255, 255, .9);
		&::placeholder {
			color: rgba(49, 28, 28, 0.9);
		}
	}	

	&__body-password {
		position: relative;
	}

	&__password {
		font-family: "Helvetica Neue";
		letter-spacing: .5px;
		margin: 0px 0px 20px 0px;
		font-size: 13px;
		padding: 5px 25px 5px 10px;
		outline: none;
		border: none;
		border-radius: 5px;
		background: rgb(255, 255, 255, .9);
		&::placeholder {
				color: rgba(49, 28, 28, 0.9);
			}
	}

	&__password-control {
		&.view {background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;}			
		position: absolute;
		top: 6px;
		right: 5px;
		display: inline-block;
	 	width: 15px;
		height: 15px;
		opacity: 0.9;
		background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
	}

	&__button {
		font-family: "Helvetica Neue";
		letter-spacing: .5px;
		font-size: 14px;
		outline: none;
		border: none;
		background: none;
		color: rgba(255, 255, 255, 0.9);
		transition: all .4s ease 0s;
		&:hover {
			color: rgba(197, 17, 17, 0.9);
		}
	}

}
@keyframes shadow {
	0% {
		box-shadow: 0px 0px 40px 5px  rgba(135,116,148, .9);
	
	}
	50% {
		box-shadow: 0px 0px 40px 20px rgb(130, 88, 159, .9);
	}

	100%{
		box-shadow: 0px 0px 40px 5px rgba(135,116,148, .9);
	}
}
